{% extends 'base.html' %}

{% block title %}Accounts{% endblock title %}

{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        <li>
            <a href= {% url 'create_account' %}>Create New Account</a>
        </li>
        <li>
            <a href= {% url 'home' %}>My Receipts</a>
        </li>
        <li>
            <a href= {% url 'category_list' %}>My Categories</a>
        </li>
        {% else %}
        <li>
            <a href= {% url 'signup' %}>Sign Up</a>
            <a href= {% url 'login' %}>Login</a>
        </li>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Accounts List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_home %}
            <tr>
                <td>{{account.name}}</td>
                <td>{{account.number}}</td>
                <td>{{account.owner.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
