{% extends 'base.html' %}

{% block title%}Categories{% endblock title %}

{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        <li>
            <a href= {% url 'create_category' %}>Create New Category</a>
        </li>
        <li>
            <a href= {% url 'home' %}>My Receipts</a>
        </li>
        <li>
            <a href= {% url 'account_list' %}>My Accounts</a>
        </li>
        {% else %}
        <li>
            <a href= {% url 'signup' %}>Sign Up</a>
            <a href= {% url 'login' %}>Login</a>
        </li>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expense_home %}
            <tr>
                <td>{{ expense.name }}<td>
                <td>{{ expense.owner.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
