{% extends 'base.html' %}


{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        <li>
            <a href= {% url 'home' %}>My Receipts</a>
        </li>
        <li>
            <a href= {% url 'account_list' %}>My Accounts</a>
        </li>
        <li>
            <a href={% url 'category_list' %}>My Categories</a>
        </li>
        {% else %}
        <li>
            <a href= {% url 'signup' %}>Sign Up</a>
            <a href= {% url 'login' %}>Login</a>
        </li>
        {% endif %}
    </nav>
</header>
<main>
    <div>
        <h1>Create Account</h1>
        <form method="post">
            {% csrf_token %}
            {{ create_account.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
