{% extends 'base.html' %}

{% block title%}Receipts{% endblock title%}

{% block content %}
<header>
    <nav>
        {% if user.is_authenticated %}
        <li>
            <a href= {% url 'create_receipt' %}>Create New Receipt</a>
        </li>
        <li>
            <a href= {% url 'account_list' %}>My Accounts</a>
        </li>
        <li>
            <a href={% url 'category_list' %}>My Categories</a>
        </li>
        {% else %}
        <li>
            <a href= {% url 'signup' %}>Sign Up</a>
            <a href= {% url 'login' %}>Login</a>
        </li>
        {% endif %}
    </nav>
</header>
<main>
    <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in receipt_home %}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.date|date:"m/d/y" }}</td>
                        <td>{{ receipt.category.name }}</td>
                        <td>{{ receipt.account.name }}</td>
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
